h1.page_title
{
    border-bottom-color: #CCCCCC;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: #222222;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
}
h1.sub_title
{
    color: #222222;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
}