{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}Run Monash - {{ title }} - Time Trial{% else %}Run Monash - Time Trial{% endif %}
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='time_trial.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='datatables.min.css')}}">
{% endblock %}
{% block scripts %}
    {{super()}}
    <script type="text/javascript" charset="utf8" src="{{url_for('.static', filename='datatables.min.js')}}"></script>
    {% if tables %}
        <script type="text/javascript">
        $(document).ready( function () {
        {% for table in tables %}
            // Setup - add a text input to each footer cell
            $('#{{ table['name'] }} thead th').each( function (index, value) {
                var title = $(this).text();
                var searchable = $(this).attr('data-searchable');
                if (!searchable) {
                    $(this).html(title + '<br/><input size="6" type="text" placeholder="Search" />');
                } else {
                    $(this).html(title + '<br/><br/>');
                }
            } );
            var {{ table['name'].replace('-','') }} = $('#{{ table['name'] }}').DataTable({
                stateSave: true,
                sPaginationType: 'first_last_numbers',
                aLengthMenu: [ 10, 25, 50, 100 ],
            });

            // Apply the search
            {{ table['name'].replace('-','') }} .columns().every( function () {
                var that = this;

                $( 'input', this.header() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

        {% endfor %}
        } );
        </script>
    {% endif %}
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="{{ url_for('time_trial') }}">Time Trial</a></li>
                    <li><a href="{{ url_for('runner') }}">Runner</a></li>
                    {% if current_user.is_authenticated and current_user.level >= 2 %}
                    <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    {% endif %}
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('runner_update', username=current_user.username) }}">{{ current_user }} Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page_title p-3 mb-2 bg-primary text-white">Run Monash - Time Trial</h1>
        {% if breadcrumbs %}
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        {% for item in breadcrumbs %}
            {% if item.visible and item.link %}
                <li class="breadcrumb-item"><a href="{{ item.link }}">{{ item.text }}</a></li>
            {% elif not item.link %}
                <li class="breadcrumb-item active" aria-current="page">{{ item.text }}</li>
            {% endif %}
        {% endfor %}
        </ol>
        </nav>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}