{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}Run Monash - {{ title }} - Time Trial{% else %}Run Monash - Time Trial{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="{{ url_for('time_trial') }}">Time Trial</a></li>
                    <li><a href="{{ url_for('runner') }}">Runner</a></li>
                    {% if is_admin %}
                    <li><a href="{{ url_for('admin', is_admin=1) }}">Admin</a></li>
                    {% endif %}
                 </ul>
            </div>
        </div>
    </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 style="border-bottom-color: #CCCCCC;
border-bottom-style: dotted;
border-bottom-width: 1px;
color: #222222;
font-size: 18px;
font-weight: bold;
margin-bottom: 1em;
padding-bottom: 0.25em;">Run Monash - Time Trial</h1>
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}