{% extends "base.html" %}

{% block app_content %}
    <h2 class="sub_title">Welcome to Run Monash - Time Trials</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('time_trial') }}">Time Trials</a></li>
        <li class="list-group-item"><a href="{{ url_for('runner') }}">Runners</a></li>
        {% if current_user.is_authenticated and current_user.level >= 2 %}
            <li class="list-group-item"><a href="{{ url_for('admin') }}">Admin</a></li>
        {% endif %}
     </ul>
{% endblock %}