{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Runners</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br/>
    <table class="table">
        <tr><th>First Name</th><th>Last Name</th><th>Active</th><th>Gender</th></th><th>Actions</th></tr>
    {% for item in current %}
        <tr><td>{{ item.first_name }}</td><td>{{ item.last_name }}</td><td>{{ item.active }}</td><td>{{ item.gender }}</td><td>
            <a href="{{ url_for('runner_result', id=item.id) }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a> |
            <a href="{{ url_for('runner', id=item.id, remove=True) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </td></tr>
    {% endfor %}
    </table>
{% endblock %}