{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2 class="sub_title">Runners</h2>
    {% if current_user.is_authenticated and current_user.level >= 2 %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br/>
    {% endif %}
    <table class="table">
        <tr>{% if current_user.is_authenticated and current_user.level >= 2 %}<th>Username</th><th>Level</th>{% endif %}
            <th>First Name</th><th>Last Name</th><th>Active</th><th>Gender</th></th><th>Results</th><th>PB</th><th>Latest</th><th>Actions</th>
        </tr>
    {% for item in current %}
        <tr>
            {% if current_user.is_authenticated and current_user.level >= 2 %}
                <td>{{ item.username }}</td><td>{{ item.level }}</td>
            {% endif %}
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.active }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.results.count() }}</td>
            <td>{{ item.get_pb() }}</td>
            <td>{{ item.get_latest_result() }}</td>
            <td>
            <a href="{{ url_for('runner_result', id=item.id) }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            {% if current_user.is_authenticated and current_user.level >= 2 %}
             | <a href="{{ url_for('runner', id=item.id, remove=True) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <nav aria-label="">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Prev
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}