{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2 class="sub_title">Time Trial</h2>
    {% if current_user.is_authenticated and current_user.level >= 2 %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
        </div>
    </div>
    <br/>
    {% endif %}
    <table id="time-trial-list" class="table" data-page-length='25'>
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Results</th>
        <th data-searchable="false" data-orderable="false">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in current %}
        <tr>
            <td data-order="{{ item.date }}">{{ item.get_formatted_date() }}</td>
            <td>{% if item.description %}{{ item.description }}{% endif %}</td>
            <td>{{ item.results.count() }}</td>
        <td>
            <a href="{{ url_for('time_trial_result', date=item.date) }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            {% if current_user.is_authenticated and current_user.level >= 2 %}
            <a href="{{ url_for('time_trial_delete', date=item.date) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            {% endif %}
        </td></tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
